.header {

    grid-row: 1 / 2;

    //background-color: var(--color-grey-dark-1);
    background-image: linear-gradient(rgba($color-secondary-dark, .93), rgba($color-secondary-dark, .93)), url(../assets/hero.jpeg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: min-content repeat(5, minmax(min-content, 1fr));
    grid-template-rows: min-content;
    color: var(--color-white);

    /*flex-direction: column;

    align-items: center;
    justify-content: space-around;*/

    &__logo-box {
        grid-column: 1/ 5;
        padding: 4vw;

        display: grid;
        grid-template-columns: min-content auto;
        align-items: center;
        grid-column-gap: 1.5vw;


    }
    &__logo {

    }
    &__logo-text {
        text-transform: capitalize;
        font-size: var(--font-large);
        font-weight: 700;
        text-shadow: var(--shadow-text);
        white-space: nowrap;
    }


    &__text-box {
        place-self: center;
        grid-column: 1 / -1;

        word-spacing: 1rem;
        letter-spacing: .5rem;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-gap: 1rem;

    }

    &__heading {
        font-size: var(--font-large);
        text-shadow: var(--shadow-text);
        /*
        animation: fadeInLeft 1s backwards;
        */
        animation-name: move-left;
        animation-duration: 1s;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in-out;
    }

    &__heading--light {
        display: inline-block;
        font-size: var(--font-medium);
        /*
        animation: fadeInRight .9s backwards;
        */
        animation-name: move-right;
        animation-delay: .1s;
        animation-duration: 1s;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in-out;
    }
}
